#footer {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    background: black;
    margin-bottom: 0px;
    margin-top: 0px;
    clear: both;
}

.text-center ul{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: darkcyan;
    list-style: none;
    background-color: black;
    text-align: center;

}

.contact img{
    height: 30px;
    width: 30px;
    opacity: 1.0;
    margin-top: 3px;
}

.contact img:hover{
    opacity: 0.5;
}