footer {
    position: fixed;
    bottom: 0px;
    display: block;
    width: 100%;
    background: black;
    margin-bottom: 0px;
    margin-top: 50px;
    clear: both;
}

.footerTable {
    margin-top: 10px;
    table-layout: fixed;
    bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    color: gray;
    background-color: black;
    border: 0px none black;
}

.footerTable tr {
    width: 25px;
}

.footerTable th{
    margin: 10px;
    font-size: 15px;
}
.footerTable td{
    text-align: center;
    font-size: 12px;
}

.footerTable img{
    height: 30px;
    width: 30px;
    opacity: 0.5;
    margin-top: 3px;
}

.footerTable img:hover {
    opacity: 1.0;
}

.text-center ul{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: oldlace;
    list-style: none;
    background-color: black;
    text-align: center;

}
