body{
    margin: 0;
}

.menu ul {
    list-style: none;
    background: black;
    text-align: center;

    border-bottom: 1px solid darkblue;
    margin: 0px;
    margin-bottom: 8px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.menu li {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.2em;
    line-height: 10px;
    height: 30px;
    display: inline-block;
    margin-top: 4px;
}

.menu a {
    color: oldlace;
    text-decoration: darkcyan;
    display: block;
    padding: 8px 17px;
    font-size: 15px;
}

.menu a:hover {
    background-color: black;
    color: darkcyan;
    text-decoration: none;
}